.simple-counter-container{
    background: black;
    float: center;
    text-align: center;

    

} .simple-counter-container div{
     display: inline-block;
     font-size: 100px;
     height: 150px;
     background-color: black;
     color:whitesmoke;
     margin: auto;
     font-family: "Arial";
}
