@import "~bootstrap/scss/bootstrap.scss";


.simple-counter-container{
    background: gray;
    float: center;
    text-shadow: 3px 3px orange;
    text-align: center;

}
// .container div{
//     display: inline-block;
//     font-size: 200px;
//     line-height: 200px;
//     height: 220px;
//     background-color: gray;
//     color: yellow;
//     margin: auto;
//     font-family: "Lucida Console", "Courier New", monospace;

// }